
@{
    ViewData["Title"] = "Show_Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    main {
        overflow-x: hidden;
        overflow-y: hidden;
        display: flex;
        width: 100%;
        height: 420px;
    }

    main section {
        min-width: 17rem;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4ch;
    }

    .iconnn {
        width: 17rem;
        height: 250px;
        margin: 20px;
    }

    .background_ {
        background-color: rgba(223, 156, 127, 0.3);
    }

    /* CSS nav */
    .color_a {
        color: aliceblue;
    }

        .color_a:hover {
            background-color: aliceblue;
            color: #111111;
        }
</style>

<!-- Body -->
<!-- Featured Product -->
<div class="container-fluid" style="background-color:rgb(7, 73, 75, 0.2)">
    <!-- Scroll overflow-x -->
    <div class="container">
        <br />
        <h4>Featured Product -></h4>
        <main>
            <section>
                <a href="" class="iconnn">
                    <img src="https://dragonballwiki.net/doctruyen/wp-content/themes/truyenfull/timthumb.php?src=http://2.bp.blogspot.com/-gBAtFkLHs8c/UI-R0eA7HAI/AAAAAAAACt8/9REFNYbjpUI/bia1.png&h=324&w=221&q=80"
                         class="card-img-top" alt="..." href="https://alvarotrigo.com/blog/scroll-horizontally-with-mouse-wheel-vanilla-java/">
                </a>
            </section>
            <section>
                <a href="" class="iconnn">
                    <img src="https://product.hstatic.net/200000343865/product/8_102_384cd43c1fdd47c1af3267bbd05090cb_master.jpg"
                         class="card-img-top" alt="...">
                </a>
            </section>
            <section>
                <a href="" class="iconnn">
                    <img src="https://product.hstatic.net/200000343865/product/7_107_ea25919f0a8b49a48bd269a3a9f6025b.jpg"
                         class="card-img-top" alt="...">
                </a>
            </section>
            <section>
                <a href="" class="iconnn">
                    <img src="https://vn-live-01.slatic.net/p/712be839271534dd05c5353673ba215b.jpg"
                         class="card-img-top" alt="...">
                </a>
            </section>
            <section>
                <a href="" class="iconnn">
                    <img src="https://d28hgpri8am2if.cloudfront.net/book_images/onix/cvr9781421566016/dragon-ball-full-color-vol-3-9781421566016_lg.jpg"
                         class="card-img-top" alt="...">
                </a>
            </section>
            <section>
                <a href="" class="iconnn">
                    <img src="https://product.hstatic.net/200000343865/product/3_903956b229934416896f6b8320641f6a_master.jpg"
                         class="card-img-top" alt="...">
                </a>
            </section>
            <section>
                <a href="" class="iconnn">
                    <img src="https://product.hstatic.net/200000343865/product/3_187_71c58d72c925496298c9dd46ca8d14b6.jpg"
                         class="card-img-top" alt="...">
                </a>
            </section>
        </main>
    </div>

    <!-- Products -->
    <div class="container">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist" style="justify-content: center; ">
                <button class="color_a nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">DragonBall</button>
                <button class="color_a nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">DragonBall</button>
                <button class="color_a nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">DragonBall</button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div style="margin-left: auto; margin-right: auto; background-color: aqua; height: fit-content; width: 80%;">
                    <div data-aos="flip-up" class="card background_" style="width: 14rem;float: left;margin:15px;">
                        <a href="">
                            <img src="https://product.hstatic.net/200000343865/product/8_102_384cd43c1fdd47c1af3267bbd05090cb_master.jpg" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title text-truncate" style="max-width:200px">.........</h5>
                            <a href="" class="d-grid gap-2" style="text-decoration: none;">
                                <button type="button" class="btn btn-outline-light" style="padding-bottom:5px">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                                        <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"></path>
                                        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"></path>
                                    </svg>&ensp;GIỎ HÀNG
                                </button>
                            </a>
                        </div>
                    </div>
                    <div data-aos="flip-up" class="card background_" style="width: 14rem;float: left;margin:15px">
                        <a href="">
                            <img src="https://product.hstatic.net/200000343865/product/8_102_384cd43c1fdd47c1af3267bbd05090cb_master.jpg" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title text-truncate" style="max-width:200px">.........</h5>
                            <a href="" class="d-grid gap-2" style="text-decoration: none;">
                                <button type="button" class="btn btn-outline-light" style="padding-bottom:5px">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                                        <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"></path>
                                        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"></path>
                                    </svg>&ensp;GIỎ HÀNG
                                </button>
                            </a>
                        </div>
                    </div>
                    <div data-aos="flip-up" class="card background_" style="width: 14rem;float: left;margin:15px">
                        <a href="">
                            <img src="https://product.hstatic.net/200000343865/product/8_102_384cd43c1fdd47c1af3267bbd05090cb_master.jpg" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title text-truncate" style="max-width:200px">.........</h5>
                            <a href="" class="d-grid gap-2" style="text-decoration: none;">
                                <button type="button" class="btn btn-outline-light" style="padding-bottom:5px">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                                        <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"></path>
                                        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"></path>
                                    </svg>&ensp;GIỎ HÀNG
                                </button>
                            </a>
                        </div>
                    </div>
                    <div data-aos="flip-up" class="card background_" style="width: 14rem;float: left;margin:15px">
                        <a href="">
                            <img src="https://product.hstatic.net/200000343865/product/8_102_384cd43c1fdd47c1af3267bbd05090cb_master.jpg" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title text-truncate" style="max-width:200px">.........</h5>
                            <a href="" class="d-grid gap-2" style="text-decoration: none;">
                                <button type="button" class="btn btn-outline-light" style="padding-bottom:5px">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                                        <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"></path>
                                        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"></path>
                                    </svg>&ensp;GIỎ HÀNG
                                </button>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div style="margin-left: auto; margin-right: auto; background-color: aqua; height: fit-content; width: 80%;">
                    <div data-aos="flip-up" class="card background_" style="width: 14rem;float: left;margin:15px">
                        <a href="">
                            <img src="https://product.hstatic.net/200000343865/product/8_102_384cd43c1fdd47c1af3267bbd05090cb_master.jpg" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title text-truncate" style="max-width:200px">.........</h5>
                            <a href="" class="d-grid gap-2" style="text-decoration: none;">
                                <button type="button" class="btn btn-outline-light" style="padding-bottom:5px">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                                        <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"></path>
                                        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"></path>
                                    </svg>&ensp;GIỎ HÀNG
                                </button>
                            </a>
                        </div>
                    </div>
                    <div data-aos="flip-up" class="card background_" style="width: 14rem;float: left;margin:15px">
                        <a href="">
                            <img src="https://product.hstatic.net/200000343865/product/8_102_384cd43c1fdd47c1af3267bbd05090cb_master.jpg" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title text-truncate" style="max-width:200px">.........</h5>
                            <a href="" class="d-grid gap-2" style="text-decoration: none;">
                                <button type="button" class="btn btn-outline-light" style="padding-bottom:5px">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                                        <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"></path>
                                        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"></path>
                                    </svg>&ensp;GIỎ HÀNG
                                </button>
                            </a>
                        </div>
                    </div>
                    <div data-aos="flip-up" class="card background_" style="width: 14rem;float: left;margin:15px">
                        <a href="">
                            <img src="https://product.hstatic.net/200000343865/product/8_102_384cd43c1fdd47c1af3267bbd05090cb_master.jpg" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title text-truncate" style="max-width:200px">.........</h5>
                            <a href="" class="d-grid gap-2" style="text-decoration: none;">
                                <button type="button" class="btn btn-outline-light" style="padding-bottom:5px">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                                        <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"></path>
                                        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"></path>
                                    </svg>&ensp;GIỎ HÀNG
                                </button>
                            </a>
                        </div>
                    </div>
                    <div data-aos="flip-up" class="card background_" style="width: 14rem;float: left;margin:15px">
                        <a href="">
                            <img src="https://product.hstatic.net/200000343865/product/8_102_384cd43c1fdd47c1af3267bbd05090cb_master.jpg" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title text-truncate" style="max-width:200px">.........</h5>
                            <a href="" class="d-grid gap-2" style="text-decoration: none;">
                                <button type="button" class="btn btn-outline-light" style="padding-bottom:5px">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                                        <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"></path>
                                        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"></path>
                                    </svg>&ensp;GIỎ HÀNG
                                </button>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                <div style="margin-left: auto; margin-right: auto; background-color: aqua; height: fit-content; width: 80%;">
                    <div data-aos="flip-up" class="card background_" style="width: 14rem;float: left;margin:15px">
                        <a href="">
                            <img src="https://dragonballwiki.net/doctruyen/wp-content/themes/truyenfull/timthumb.php?src=http://2.bp.blogspot.com/-gBAtFkLHs8c/UI-R0eA7HAI/AAAAAAAACt8/9REFNYbjpUI/bia1.png&h=324&w=221&q=80" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title text-truncate" style="max-width:200px">.........</h5>
                            <a href="" class="d-grid gap-2" style="text-decoration: none;">
                                <button type="button" class="btn btn- btn-outline-light" style="padding-bottom:5px;" onclick="alert('Đã thêm vào giỏ hàng')">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                                        <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"></path>
                                        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"></path>
                                    </svg>&ensp;GIỎ HÀNG
                                </button>
                            </a>
                        </div>
                    </div>
                    <div data-aos="flip-up" class="card background_" style="width: 14rem;float: left;margin:15px">
                        <a href="">
                            <img src="https://dragonballwiki.net/doctruyen/wp-content/themes/truyenfull/timthumb.php?src=http://2.bp.blogspot.com/-gBAtFkLHs8c/UI-R0eA7HAI/AAAAAAAACt8/9REFNYbjpUI/bia1.png&h=324&w=221&q=80" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title text-truncate" style="max-width:200px">.........</h5>
                            <a href="" class="d-grid gap-2" style="text-decoration: none;">
                                <button type="button" class="btn btn- btn-outline-light" style="padding-bottom:5px;" onclick="alert('Đã thêm vào giỏ hàng')">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                                        <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"></path>
                                        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"></path>
                                    </svg>&ensp;GIỎ HÀNG
                                </button>
                            </a>
                        </div>
                    </div>
                    <div data-aos="flip-up" class="card background_" style="width: 14rem;float: left;margin:15px">
                        <a href="">
                            <img src="https://dragonballwiki.net/doctruyen/wp-content/themes/truyenfull/timthumb.php?src=http://2.bp.blogspot.com/-gBAtFkLHs8c/UI-R0eA7HAI/AAAAAAAACt8/9REFNYbjpUI/bia1.png&h=324&w=221&q=80" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title text-truncate" style="max-width:200px">.........</h5>
                            <a href="" class="d-grid gap-2" style="text-decoration: none;">
                                <button type="button" class="btn btn- btn-outline-light" style="padding-bottom:5px;" onclick="alert('Đã thêm vào giỏ hàng')">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                                        <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"></path>
                                        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"></path>
                                    </svg>&ensp;GIỎ HÀNG
                                </button>
                            </a>
                        </div>
                    </div>
                    <div data-aos="flip-up" class="card background_" style="width: 14rem;float: left;margin:15px">
                        <a href="">
                            <img src="https://dragonballwiki.net/doctruyen/wp-content/themes/truyenfull/timthumb.php?src=http://2.bp.blogspot.com/-gBAtFkLHs8c/UI-R0eA7HAI/AAAAAAAACt8/9REFNYbjpUI/bia1.png&h=324&w=221&q=80" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title text-truncate" style="max-width:200px">.........</h5>
                            <a href="" class="d-grid gap-2" style="text-decoration: none;">
                                <button type="button" class="btn btn- btn-outline-light" style="padding-bottom:5px;" onclick="alert('Đã thêm vào giỏ hàng')">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                                        <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"></path>
                                        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"></path>
                                    </svg>&ensp;GIỎ HÀNG
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    const scrollContainer = document.querySelector("main");

    scrollContainer.addEventListener("wheel", (evt) => {
        evt.preventDefault();
        scrollContainer.scrollLeft += evt.deltaY;
    });

</script>
