
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="index.css">
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

<style>
    .bg_introduce {
        background-image: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjL97N75bpeGoNd6BraDmBrxInnbxmZtQ2A3msaj69ktwsiewQBxUPNDjEmYnKE50lDEtdStOvS9Ea4EcYcqxedJJYlqSvqPvl0u9Tr7acdeXAAXG1gesGl_r_UR0YhZTzEOSiTwVgLxG0G_Co5mBjT77H65jF7oPolsyb52tr3JkkaiCcuGHbzVXXiaA/s1600/CHILL-SUNSET.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 850px;
        width: 100%;
        text-align: justify;
    }

    .bg_register {
        background-image: url("/Image/hinh-nen-songoku-4k-nen-toi.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 550px;
        width: 100%;
        position: absolute;
    }
</style>

<div class="row">
    <!-- Introduce-->
    <div class="bg_introduce" data-aos="fade-up">
        <h1 style="padding-top: 200px; ; font-size: 300%;  text-align: center; color: aliceblue; margin-top: 20px;">WELCOME TO US</h1>
        <h2 style="margin-left: auto; margin-right: auto; text-align: center; width: 700px;">Web site specializing in providing comic items with many genres are well-received by readers.<br /> User-friendly interface, easy to use</h2>

        <div style="width: 100%">
            <div style="margin-left: auto; margin-right: auto; width: fit-content; margin-top: 50px;">
                <button type="button" class="btn btn-lg btn-outline-light"> &nbsp &nbsp SEE MORE  &nbsp &nbsp</button>
                <button type="button" class="btn btn-lg btn-outline-light"> &nbsp &nbsp SEE MORE  &nbsp &nbsp</button>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="card mb-3" style="margin-top: 20px; background-color: rgb(7, 73, 75, 0.2);" data-aos="fade-left">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://image.winudf.com/v2/image/Y29tLm1lZGlhdGVjaC5kcmFnb25fc2NyZWVuXzBfMTUyODY1MDUyNl8wOTM/screen-0.jpg?fakeurl=1&type=.jpg"
                     class="rounded-start img-fluid" style="width: 90%; padding: 20px;" alt="Songuku">
            </div>
            <div class="col-md-8">
                <div class="card-body" style="margin-top: 50px;">
                    <h5 class="card-title"><b>Son Goku (孫悟空そんごくう (Sun Wukong) Son Gokū), born Kakarot (カカロット Kakarotto)</b></h5>
                    <p class="card-text">Goku is the main character in Toriyama Akira's Dragon Ball manga series. He is the adopted grandson of Gohan's grandfather, Chi-Chi's husband, Gohan and Goten's father, Pan's grandfather, and in Dragon Ball GT, Goku Jr's great-grandfather. His tutors are Gui Lao, Kaio and Whis. Son Goku is considered the strongest fantasy character of all time.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" style="margin-top: 20px; background-color: rgb(7, 73, 75, 0.2);" data-aos="fade-right">
        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body" style="margin-top: 50px;">
                    <h5 class="card-title"><b>Super Saiyan 3 (超スーパーサイヤ人じん３スリー Sūpā Saiya-jin Surī)</b></h5>
                    <p class="card-text">Super Saiyan 3 is the third form of Super Saiyan and the successor to the second transformation. This form extracts every drop of potential from a Saiyan's blood. Goku was the first to achieve the form and was able to do so after several years of vigorous training in Other World. Gotenks later achieves this form through the power of Trunks and Goten's fusion, Gotenks and with Goku's example.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="col-md-4">
                <img src="https://i.pinimg.com/originals/f6/59/8c/f6598c340b2b51301b76eef2c01fd154.jpg"
                     class="rounded-start" style="width: 90%; padding: 20px; margin-left: 40px;" alt="Songuku">
            </div>
        </div>
    </div>
    <div class="card mb-3" style="margin-top: 20px; background-color: rgb(7, 73, 75, 0.2);" data-aos="fade-left">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://image.winudf.com/v2/image/Y29tLm1lZGlhdGVjaC5kcmFnb25fc2NyZWVuXzNfMTUyODY1MDUyOF8wNTM/screen-3.jpg?fakeurl=1&type=.jpg"
                     class="rounded-start" style="width: 90%; padding: 20px;" alt="Songuku">
            </div>
            <div class="col-md-8">
                <div class="card-body" style="margin-top: 50px;">
                    <h5 class="card-title"><b>Super Saiyan Blue (超サイヤ人ブルー, Sūpā Saiya-jin Burū), also known as Super Saiyan God Super Saiyan (超サイヤ人ゴッド超サイヤ人, Sūpā Saiya-jin Goddo Sūpā Saiya-jin)</b></h5>
                    <p class="card-text">Super Saiyan Blue is the level achieved after taking the power of Super Saiyan God and transforming it into a Super Saiyan state. This power can be obtained by acquiring the power of "God", then absorbing it into one's body and activating it to become Super Saiyan Blue, or arduously training with a god to obtain it. God ki for me (Like Vegeta in the anime). This level is completely superior to its predecessor.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg_register">
    <div style="background-color:rgb(7, 73, 75, 0.2); width: 500px; height: 450px; margin-top: 50px; color:aliceblue;text-align: center; position: relative;" class="mx-auto">
        <div style="width:450px; margin-left: 20px; margin-top: 50px;position: absolute;">
            <h2 style="margin-bottom: 35px;">REGISTER</h2>
            <div class="d-grid gap-2">
                <label for="email" class="col-sm-3 col-form-label" style="text-align: left;">Email</label>
                <input type="email" class="form-control" id="email">
                <label for="inputPassword3" class="col-sm-3 col-form-label" style="text-align: left;">Password</label>
                <input type="password" class="form-control" id="inputPassword3"><br />
                <input type="button" class="btn btn-primary btn-lg" onclick="showMess()" value="Sign in" id="" />
            </div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init({
        offset: 300,
        duration: 1000
    });
    function showMess(){
        var content = document.getElementById('email').innerHTML
        alert(content)
    }
</script>
